body {
    background: blue;
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
    padding: 12pt;
}

section {
    background: white;
    width: 400px;
    border-radius: 15px;
    margin: auto;
    padding: 15pt;
    box-shadow: 5px 5px 10px black;
}

footer {
    color: white;
    font-style: italic;
    text-align: center;
    padding: 15pt;
}