body {
    background: rgb(0, 98, 255);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;

}

#imagem {
width: 400px;
border-radius: 50%;
}

div {
    text-align: center;
    padding: 8px;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: 400px;
    margin: auto;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.585);
}

footer {
    text-align: center;
    font-style: italic;

}